<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        ExtendTtAddress:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:comment><!--
    <f:for as="extendTtAddresses" each="{pagination.paginator.paginatedItems}" iteration="iterator">
    </f:for>
--></f:comment>

<f:section name="content">
    <div class="row missionarsList">
        <!--TYPO3SEARCH_begin-->
        <div class="list large-12 medium-12 small-12 columns">
            <f:if condition="{atoz -> f:count()} > 0">
                <f:for as="value" each="{atoz}">
                    <f:if condition="{value.active}">
                        <f:then>
                            <f:if condition="{value.character} == {atozvalue}">
                                <f:then>
                                    <span class="activelinkcolor">{value.character}</span>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{atoz:value.character}" class="lifelink">
                                        {value.character}
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <span class="deadlinkcolor">{value.character}</span>
                        </f:else>
                    </f:if>
                    &nbsp;<span class="divoc">|</span>&nbsp;
                </f:for>
                <f:if condition="{atozvalue} == ''">
                    <f:then>
                        <span class="activelinkcolor"><f:translate key="allLetters"/></span>
                    </f:then>
                    <f:else>
                        <f:link.action action="list" class="lifelink">
                            <f:translate key="allLetters"/>
                        </f:link.action>
                    </f:else>
                </f:if>
            </f:if>

            <div class="list large-12 medium-12 small-12 columns">
                <f:for as="extendTtAddressesItem" each="{pagination.paginator.paginatedItems}" iteration="iterator">
                    <f:render arguments="{addressItem: extendTtAddressesItem,settings:settings,iterator:iterator}" partial="Person/ListItemPerson"/>
                </f:for>
            </div>
            <div class="large-12 medium-12 small-12 columns">
                <f:render arguments="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'list', atoz:atozvalue}" partial="Pagination"/>
            </div>
        </div>
        <!--TYPO3SEARCH_end-->
    </div>
</f:section>
</html>
