<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:spaceless>
	<f:layout name="Default"/>
	
	This template is responsible for creating a table of domain objects.
	
	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
		Resources:
			Private:
				Templates:
					ExtendTtAddress:
						List.html: keep
	
	Otherwise your changes will be overwritten the next time you save the extension in the extension builder
	
	
	<f:section name="content">
		<div class="row missionarsList">
			<!--TYPO3SEARCH_begin-->
			<div class="list large-12 medium-12 small-12 columns">
				<f:if condition="{atoz -> f:count()} > 0">
					<div class="row atoz">
						
						<!-- Partial A-Z -->
						<f:render arguments="{atoz: atoz, atozvalue: atozvalue, settings:settings}" partial="List/Atoz"/>
						
						<!-- Partial Dropdown -->
						<f:render arguments="{countryCategories: countryCategories, settings:settings}"
						          partial="List/Dropdown"/>
					
					</div>
				</f:if>
				
				<!-- List of Persons -->
				<div class="list large-12 medium-12 small-12 columns">
					<f:for as="extendTtAddressesItem" each="{pagination.paginator.paginatedItems}" iteration="iterator">
						<f:render arguments="{addressItem: extendTtAddressesItem,settings:settings,iterator:iterator}"
						          partial="Person/ListItemPerson"/>
					</f:for>
				</div>
				
				<!-- Pagination -->
				<f:if condition="{atozvalue}">
					<f:then>
						<f:variable name="arguments" value="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'list', atoz:atozvalue}"/>
					</f:then>
					<f:else>
						<f:variable name="arguments" value="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'list'}"/>
					</f:else>
				</f:if>
				<f:render arguments="{arguments}" partial="Pagination"/>
			
			</div>
			<!--TYPO3SEARCH_end-->
		</div>
	</f:section>
</f:spaceless>
</html>
