<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<table class="tx-ext-extendttaddress">
    <tr>
        <td>
            <f:translate key="tx_extextendttaddress_domain_model_extendttaddress.tx_birthday"/>
        </td>
        <td>{extendTtAddress.txBirthday}</td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_extextendttaddress_domain_model_extendttaddress.tx_deathday"/>
        </td>
        <td>{extendTtAddress.txDeathday}</td>
    </tr>
</table>
</html>
